.logo{
    height: 70px;
    width: 300px;
}
.bg-image {
   width: 90%;
    height: 400px;
    
    
}
.img{
    height: 100%;
    width: 100%;
}
.cntr{
 margin-top: 100px;
margin-bottom: 50px;
}
.icon{
    height: 80px;
    width: 80px;
   
}
.orange-color{
    color: FA804C;
}
.ftr{
   border: 0px;
}
.crd-pic{
    background-color: lightgrey;
    border-radius: 10px;
        
    
}
.stp{
    border: 0px;
}